body { 
	margin: 0px; 
}
.logo { 
	margin: 0;
	text-align: center;
	position: relative;
	top: -80px;
	display: block;
	z-index: 2;
}
.header { 
	background: #181B1E; 
	height: 60px; 
	margin: 0px;
}
.welcome {
	height: 400px;
	margin: 0px;
	background-image: url(images/logo/image.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.aboutme {
	background: #F2F2F2;
	height: 400px;
	margin: 0px;
}
.portfolio {
	background: #FFFFFF;
	height: 500px;
	margin: 0px;
}
.contact {
	background: #F2F2F2;
	height: 250px;
	margin: 0px;
	background-image: url(images/logo/imager.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.downheader {
	background: #181B1E; 
	height: 60px; 
	margin: 0px auto;
	padding: 0px;
}
.headermax {
	margin: 0px auto;
	height: 60px;
	max-width: 1200px;
}
.welcomemax {
	margin: 0px auto;
	max-width: 1200px;
	height: 400px;
}
.aboutmemax {
	margin: 0px auto;
	max-width: 1200px;
	height: 400px;
}
.portfoliomax {
	margin: 0px auto;
	max-width: 1200px;
	height: 500px;
}
.contactmax {
	margin: 0px auto;
	max-width: 1200px;
	height: 250px;
	color: white;
}
.vk img {
	height: 60px;
	width: 60px;
}
.vk a {
	position: relative;
	display: inline-block;
	top: 70px;
	left: 480px;
}
.upwork img {
	height: 60px;
	width: 60px;
}
.upwork a {
	position: relative;
	display: inline-block;
	top: -7px;
	left: 570px;
}
.mail img {
	height: 60px;
	width: 60px;
}
.mail a {
	position: relative;
	display: inline-block;
	top: -82px;
	left: 660px;
}